# critic files
/critic
critic.bin
critic.prof
.critic.db*

# Profiling output
tests/pprof/*.prof


# Build artifacts
*.exe
*.dll
*.so
*.dylib

# Test binaries
*.test

# Go workspace file
go.work

/tmp
/package-lock.json
